<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
    <title>Add Team Member Page</title>
    <link href="/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <main>
        <div class="album py-5">
            <div class="container">
                <a type="button" class="btn btn-dark" href="/home-user">Home</a>
                <a type="button" class="btn btn-dark" href="/product-backlog-user">Product Backlog</a>

                <div class="container mt-4 rounded">
                    <table class="table table-sortable">
                        <thead class="table-dark">
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i=0; i < members.length; i++ ){ %>
                                <tr>
                                    <td>
                                        <%= (i+1) %>
                                    </td>
                                    <td>
                                        <%= members[i].name %>
                                    </td>
                                    <% } %>
                                </tr>
                        </tbody>
                    </table>
                </div>

                <h3 class="my-2">Add New Team Member</h3>
                <div class="row row-cols-1 row-cols-sm-2 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <form action="/add-member-user" method="POST">
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Member Name</label>
                                        <input type="text" name="name" class="form-control" id="name"
                                            placeholder="Enter member name" required />
                                    </div>

                                    <button class="btn btn-dark">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>