<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
  <title>Add Book Page</title>
  <link href="/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
  <main>
    <div class="album py-5">
      <div class="container">
        <a type="button" class="btn btn-primary" href="/">Home</a>
        <a type="button" class="btn btn-primary" href="/product-backlog">Product Backlog</a>

        <h3 class="my-2">Add New Task</h3>

        <div class="row row-cols-1 row-cols-sm-2 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <form action="/add-task" method="POST">
                  <div class="mb-3">
                    <label for="name" class="form-label">Task Name</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Enter task name"
                      required />
                  </div>

                  <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" name="description" class="form-control" id="description"
                      placeholder="Enter description" />
                  </div>

                  <div class="mb-3">
                    <label for="teamMember" class="form-label">Assigned Member</label>
                    <input type="text" name="teamMember" class="form-control" id="teamMember"
                      placeholder="Enter assigned member" />
                  </div>

                  <div class="mb-3">
                    <label for="priority" class="form-label">Priority</label>
                    <select name="priority" class="form-select" id="priority">
                      <option value="low">Low</option>
                      <option value="medium">Medium</option>
                      <option value="high">High</option>
                      <option value="urgent">Urgent</option>
                    </select>

                  </div>

                  <button class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>