<!DOCTYPE html>
<html>

<head>
  <title>Burndown Chart</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <style>
    /* Additional CSS styles */
    body {
      padding: 20px;
    }

    .btn-primary {
      background-color: black;
      color: white;
      border: none;
    }

    .btn-primary:hover {
      background-color: darkgray;
    }

    .btn-group {
      margin-bottom: 20px;
    }

    .btn-group button {
      margin-right: 5px;
    }

    .chart-container {
      margin-top: 20px;
    }
  </style>
</head>

<body>

  <div class="btn-group">
    <a type="button" class="btn btn-primary" href="/home">Home</a>
  </div>

  <body>
    <div class="btn-group">
      <a type="button" class="btn btn-primary" href="/">Home</a>
    </div>

    <div>
      <h2>Actual Remaining Work for Each Day</h2>
    </div>

    <div class="chart-container p-4">
      <canvas id="burndownChart" width="400" height="200"></canvas>
    </div>


    <script type="text/javascript">

      const xValues = [<%= linearData %>];
      const data = [<%= taskData %>];
      const yValues = []

      generateData("x * 2 + 7", 0, xValues.length, 1);

      new Chart("burndownChart", {
        type: "line",
        data: {
          labels: xValues,
          datasets: [{
            label: "Actual Progression",
            data: data,
            borderColor: "red",
            fill: false
          },
          {
            label: "Expected Progression",
            data: yValues,
            borderColor: "rgba(0,0,255,0.1)",
            fill: false
          }
          ]
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: "Progress of Sprint"
          }
        }
      });

      function generateData(value, i1, i2, step = 1) {
        for (let x = i1; x < i2; x += step) {
          yValues.push(-x * (data[0] / (xValues.length - 1)) + data[0]);
        }
      }

    </script>
  </body>

</html>