<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delete Task</title>
  <link href="/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <main>
    <div class="album py-4">
      <div class="container">
        <a type="button" class="btn btn-primary" href="/home">Home</a>
        <a type="button" class="btn btn-primary" href="/category/33119694/list-category">View All Categories</a>
      </div>
      <div class="container">
        <div class="my-4 p-5 bg-primary text-white rounded">
          <h1>Delete Task</h1>
          <p>Provide Task Id & click delete</p>
        </div>
      </div>
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <form action="/delete-task" method="post">
                  <div class="mb-3">
                    <label for="id">Id:</label>
                    <input type="text" class="form-control" name="id" id="id" placeholder="Enter task id">
                  </div>
                  <button type="submit" class="btn btn-danger">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>