<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/bootstrap.min.css" rel="stylesheet" />
  <title>Edit Product Backlog</title>
</head>

<div class="container pt-4">
  <a type="button" class="btn btn-dark" href="/">Home</a>
  <a type="button" class="btn btn-dark" href="/add-task">Add Tasks</a>
</div>

<div class="container">
  <div class="my-4 p-5 bg-dark text-white rounded">
    <h1>Edit Product Backlog</h1>
    <p>List of Tasks</p>
  </div>
</div>

<body>
  <div class="container mt-4 rounded">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>ID</th>
          <th>Name</th>
          <th>Status</th>
          <th>Change Status</th>
          <th>Team Member</th>
          <th>Change Team Member</th>
          <th>Priority</th>
          <th>Change Priority</th>
          <th>Details</th>
      </thead>
      <tbody>
        <% for(let i=0; i < tasks.length; i++ ){ %>
          <tr>
            <td>
              <%= (i+1) %>
            </td>
            <td>
              <%= tasks[i].id %>
            </td>
            <td>
              <%= tasks[i].name %>
            </td>
            <td>
              <%= tasks[i].status %>
            </td>
            <td>
              <form action="/change-status/<%= tasks[i].id %>" method="POST">
                  <div class="input-group">
                    <select name="newStatus" class="form-select">
                      <option value="Not Started">Not Started</option>
                      <option value="In Progress">In Progress</option>
                      <option value="Finished">Finished</option>
                    </select>
                    <button type="submit" class="btn btn-dark">Change Status</button>
                  </div>
                </form>
          </td>
            <td>
              <%= tasks[i].teamMember %>
            </td>
            <td>
              <form action="/change-teamMember/<%= tasks[i].id %>" method="POST">
                <div class="input-group">
                  <select name="newMember" class="form-select">
                    <% for (let j = 0; j < tasks.length; j++) { %>
                    <option value="<%= tasksunchanged[j] %>"><%= tasksunchanged[j] %></option>
                    <% } %>
                  </select>
                  <button type="submit" class="btn btn-dark">Change Team Member</button>
                </div>
              </form>
            </td>
            <td>
              <%= tasks[i].priority %>
            </td>
            <td>
                <form action="/change-priority/<%= tasks[i].id %>" method="POST">
                    <div class="input-group">
                      <select name="newPriority" class="form-select">
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                        <option value="Urgent">Urgent</option>
                      </select>
                      <button type="submit" class="btn btn-dark">Change Priority</button>
                    </div>
                  </form>
            </td>
            <td>
              <a href="show-task/<%= tasks[i].id %>">
                <button class="btn btn-dark">View</button>
              </a>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>

</body>

</html>