<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/bootstrap.min.css" rel="stylesheet" />
  <title>Product Backlog</title>
</head>

<div class="container pt-4">
  <a type="button" class="btn btn-dark" href="/">Home</a>
  <a type="button" class="btn btn-dark" href="/add-task">Add Tasks</a>
</div>

<div class="container">
  <div class="my-4 p-5 bg-dark text-white rounded">
    <h1>Product Backlog</h1>
    <p>List of Tasks</p>
  </div>
</div>

<body>
  <div class="container mt-4 rounded">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>ID</th>
          <th>Name</th>
          <th>Status</th>
          <th>Team Member</th>
          <th>Priority</th>
          <th>Details</th>
      </thead>
      <tbody>
        <% for(let i=0; i < tasks.length; i++ ){ %>
          <tr>
            <td>
              <%= (i+1) %>
            </td>
            <td>
              <%= tasks[i].id %>
            </td>
            <td>
              <%= tasks[i].name %>
            </td>
            <td>
              <%= tasks[i].status %>
            </td>
            <td>
              <%= tasks[i].teamMember %>
            </td>
            <td>
              <%= tasks[i].priority %>
            </td>
            <td>
              <a href="show-task/<%= tasks[i].id %>">
                <button class="btn btn-dark">View</button>
              </a>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>

</body>

</html>