<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/bootstrap.min.css" rel="stylesheet">
</head>

<div class="container pt-4">
  <a type="button" class="btn btn-dark" href="/">Home</a>
</div>

<body>

  <div class="album py-4">
    <div class="container">

      <div class="row">


        <div class="my-2 p-5 bg-dark text-white rounded">
          <h1>
            <%= sprint.name %>
          </h1>
          <p>
            <%= sprint.description %>
          </p>
        </div>
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <div class="card-body">
                  <p><strong>Start Date:</strong>
                    <%= sprint.startDate ? sprint.startDate : '-' %>
                  </p>
                  <p><strong>End Date:</strong>
                    <%= sprint.endDate ? sprint.endDate : '-' %>
                  </p>
                  <p><strong>Duration:</strong>
                    <%= sprint.duration %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container mt-4 rounded">
        <table class="table table-sortable">
          <thead class="table-dark">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Status</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Duration In Days</th>
              <th>Due Date</th>
              <th>Team Member</th>
              <th>Priority</th>
              <th>Details</th>
              <th>Archive</th>
          </thead>
          <tbody>
            <% for(let i=0; i < tasks.length; i++ ){ %>
              <tr>
                <td>
                  <%= (i+1) %>
                </td>
                <td>
                  <%= tasks[i].name %>
                </td>
                <td>
                  <%= tasks[i].status %>
                </td>
                <td>
                  <%= tasks[i].startDate ? tasks[i].startDate : '-' %>
                </td>
                <td>
                  <%= tasks[i].endDate ? tasks[i].endDate : '-' %>
                </td>
                <td>
                  <%= tasks[i].duration %>
                </td>
                <td>
                  <%= tasks[i].dueDate %>
                </td>
                <td>
                  <%= tasks[i].teamMember %>
                </td>
                <td>
                  <%= tasks[i].priority %>
                </td>
                <td>
                  <a href="/task-detail/<%= tasks[i]._id %>">
                    <button class="btn btn-dark">View</button>
                  </a>
                </td>
                <td>
                  <a href="/task-archive/<%= tasks[i]._id %>">
                    <button class="btn btn-danger">Archive</button>
                  </a>
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>
</body>



</html>