<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/bootstrap.min.css" rel="stylesheet">
</head>

<div class="container pt-4">
  <a type="button" class="btn btn-dark" href="/">Home</a>
</div>

<body>

  <div class="album py-4">
    <div class="container">

      <div class="row">


        <div class="my-2 p-5 bg-dark text-white rounded">
          <h1>
            <%= sprint.name %>
          </h1>
          <p>
            <%= sprint.description %>
          </p>
        </div>
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <div class="card-body">
                  <p><strong>Status:</strong>
                    <%= sprint.status %>
                  </p>
                  <p><strong>Start Date:</strong>
                    <%= sprint.startDate ? sprint.startDate : '-' %>
                  </p>
                  <p><strong>End Date:</strong>
                    <%= sprint.endDate ? sprint.endDate : '-' %>
                  </p>
                  <p><strong>Duration:</strong>
                    <%= sprint.duration %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container pt-4">
        <form action="/delete-sprint" method="POST">
          <input type="hidden" name="sprintId" value="<%= sprint._id %>">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
      <div class="container pt-4">
        <a type="button" class="btn btn-dark" href="/start-sprint/<%= sprint.id %>">Start Sprint</a>
        <a type="button" class="btn btn-dark" href="/stop-sprint/<%= sprint.id %>">Stop Sprint</a>
        <a type="button" class="btn btn-dark" href="/finish-sprint/<%= sprint.id %>">Finish Sprint</a>
      </div>
      <label for="sortPriority" class="form-label">Sort by Priority:</label>
        <select id="sortPriority" class="form-select">
          <option value="asc">Ascending</option>
          <option value="desc">Descending</option>
        </select>
        <button id="sortButton">Sort</button>
        <br>
        <label for="sortStatus" class="form-label">Sort by Status:</label>
        <select id="sortStatus" class="form-select">
          <option value="asc">Ascending</option>
          <option value="desc">Descending</option>
        </select>
        <button id="sortButton1">Sort</button>

      <div class="container mt-4 rounded">
        <table class="table table-sortable">
          <thead class="table-dark">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Status</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Duration In Days</th>
              <th>Due Date</th>
              <th>Team Member</th>
              <th>Priority</th>
              <th>Details</th>
              <th>Archive</th>
          </thead>
          <tbody>
            <% for(let i=0; i < tasks.length; i++ ){ %>
              <tr>
                <td>
                  <%= (i+1) %>
                </td>
                <td>
                  <%= tasks[i].name %>
                </td>
                <td>
                  <%= tasks[i].status %>
                </td>
                <td>
                  <%= tasks[i].startDate ? tasks[i].startDate : '-' %>
                </td>
                <td>
                  <%= tasks[i].endDate ? tasks[i].endDate : '-' %>
                </td>
                <td>
                  <%= tasks[i].duration %>
                </td>
                <td>
                  <%= tasks[i].dueDate %>
                </td>
                <td>
                  <%= tasks[i].teamMember %>
                </td>
                <td>
                  <%= tasks[i].priority %>
                </td>
                <td>
                  <a href="/task-detail/<%= tasks[i]._id %>">
                    <button class="btn btn-dark">View</button>
                  </a>
                </td>
                <td>
                  <a href="/task-archive/<%= tasks[i]._id %>">
                    <button class="btn btn-danger">Archive</button>
                  </a>
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const table = document.querySelector("table");
      const tbody = table.querySelector("tbody");

      const sortButton = document.getElementById("sortButton");

      sortButton.addEventListener("click", function () {
        sortPriorityTable();
      });
    });

    document.addEventListener("DOMContentLoaded", function () {
      const table = document.querySelector("table");
      const tbody = table.querySelector("tbody");

      const sortButton = document.getElementById("sortButton1");

      sortButton.addEventListener("click", function () {
        sortStatusTable();
      });
    });

    function sortPriorityTable() {
      const sortBy = document.getElementById("sortPriority").value;

      const table = document.querySelector("table");
      const tbody = table.querySelector("tbody");

      const rows = Array.from(tbody.querySelectorAll("tr"));

      const priorityOrder = ["low", "medium", "high", "urgent"];

      const asc = (a, b) => {
        tempA = a.querySelector('td:nth-child(9)').textContent.toLowerCase();
        frontidx = -1;
        for (let i = 0; i < tempA.length; i++) {
          if ('a' <= tempA[i] && tempA[i] <= 'z') {
            frontidx = i;
            break;
          }
        }
        backidx = -1;
        for (let i = tempA.length - 1; i >= 0; i--) {
          if ('a' <= tempA[i] && tempA[i] <= 'z') {
            backidx = i;
            break;
          }
        }
        temA = "";
        for (let i = frontidx; i <= backidx; i++) {
          temA += tempA[i];
        }

        tempB = b.querySelector('td:nth-child(9)').textContent.toLowerCase();
        frontidx = -1;
        for (let i = 0; i < tempB.length; i++) {
          if ('a' <= tempB[i] && tempB[i] <= 'z') {
            frontidx = i;
            break;
          }
        }
        backidx = -1;
        for (let i = tempB.length - 1; i >= 0; i--) {
          if ('a' <= tempB[i] && tempB[i] <= 'z') {
            backidx = i;
            break;
          }
        }
        temB = "";
        for (let i = frontidx; i <= backidx; i++) {
          temB += tempB[i];
        }

        idxA = -1, idxB = -1;
        for (let i = 0; i < priorityOrder.length; i++) {
          if (temA == priorityOrder[i]) idxA = i;
          if (temB == priorityOrder[i]) idxB = i;
        }
        return idxA - idxB;
      }

      const dsc = (a, b) => {
        tempA = a.querySelector('td:nth-child(9)').textContent.toLowerCase();
        frontidx = -1;
        for (let i = 0; i < tempA.length; i++) {
          if ('a' <= tempA[i] && tempA[i] <= 'z') {
            frontidx = i;
            break;
          }
        }
        backidx = -1;
        for (let i = tempA.length - 1; i >= 0; i--) {
          if ('a' <= tempA[i] && tempA[i] <= 'z') {
            backidx = i;
            break;
          }
        }
        temA = "";
        for (let i = frontidx; i <= backidx; i++) {
          temA += tempA[i];
        }

        tempB = b.querySelector('td:nth-child(9)').textContent.toLowerCase();
        frontidx = -1;
        for (let i = 0; i < tempB.length; i++) {
          if ('a' <= tempB[i] && tempB[i] <= 'z') {
            frontidx = i;
            break;
          }
        }
        backidx = -1;
        for (let i = tempB.length - 1; i >= 0; i--) {
          if ('a' <= tempB[i] && tempB[i] <= 'z') {
            backidx = i;
            break;
          }
        }
        temB = "";
        for (let i = frontidx; i <= backidx; i++) {
          temB += tempB[i];
        }

        idxA = -1, idxB = -1;
        for (let i = 0; i < priorityOrder.length; i++) {
          if (temA == priorityOrder[i]) idxA = i;
          if (temB == priorityOrder[i]) idxB = i;
        }
        return idxB - idxA;
      }

      if (sortBy == "asc") rows.sort(asc);
      if (sortBy == "desc") rows.sort(dsc);

      tbody.innerHTML = "";

      rows.forEach((row) => {
        tbody.appendChild(row);
      });
    }

    function sortStatusTable() {
      const sortBy = document.getElementById("sortStatus").value;

      const table = document.querySelector("table");
      const tbody = table.querySelector("tbody");

      const rows = Array.from(tbody.querySelectorAll("tr"));

      const priorityOrder = ["not started", "in progress", "finished"];

      const asc = (a, b) => {
        tempA = a.querySelector('td:nth-child(3)').textContent.toLowerCase();
        frontidx = -1;
        for (let i = 0; i < tempA.length; i++) {
          if ('a' <= tempA[i] && tempA[i] <= 'z') {
            frontidx = i;
            break;
          }
        }
        backidx = -1;
        for (let i = tempA.length - 1; i >= 0; i--) {
          if ('a' <= tempA[i] && tempA[i] <= 'z') {
            backidx = i;
            break;
          }
        }
        temA = "";
        for (let i = frontidx; i <= backidx; i++) {
          temA += tempA[i];
        }

        tempB = b.querySelector('td:nth-child(3)').textContent.toLowerCase();
        frontidx = -1;
        for (let i = 0; i < tempB.length; i++) {
          if ('a' <= tempB[i] && tempB[i] <= 'z') {
            frontidx = i;
            break;
          }
        }
        backidx = -1;
        for (let i = tempB.length - 1; i >= 0; i--) {
          if ('a' <= tempB[i] && tempB[i] <= 'z') {
            backidx = i;
            break;
          }
        }
        temB = "";
        for (let i = frontidx; i <= backidx; i++) {
          temB += tempB[i];
        }

        idxA = -1, idxB = -1;
        for (let i = 0; i < priorityOrder.length; i++) {
          if (temA == priorityOrder[i]) idxA = i;
          if (temB == priorityOrder[i]) idxB = i;
        }
        return idxA - idxB;
      }

      const dsc = (a, b) => {
        tempA = a.querySelector('td:nth-child(3)').textContent.toLowerCase();
        frontidx = -1;
        for (let i = 0; i < tempA.length; i++) {
          if ('a' <= tempA[i] && tempA[i] <= 'z') {
            frontidx = i;
            break;
          }
        }
        backidx = -1;
        for (let i = tempA.length - 1; i >= 0; i--) {
          if ('a' <= tempA[i] && tempA[i] <= 'z') {
            backidx = i;
            break;
          }
        }
        temA = "";
        for (let i = frontidx; i <= backidx; i++) {
          temA += tempA[i];
        }

        tempB = b.querySelector('td:nth-child(3)').textContent.toLowerCase();
        frontidx = -1;
        for (let i = 0; i < tempB.length; i++) {
          if ('a' <= tempB[i] && tempB[i] <= 'z') {
            frontidx = i;
            break;
          }
        }
        backidx = -1;
        for (let i = tempB.length - 1; i >= 0; i--) {
          if ('a' <= tempB[i] && tempB[i] <= 'z') {
            backidx = i;
            break;
          }
        }
        temB = "";
        for (let i = frontidx; i <= backidx; i++) {
          temB += tempB[i];
        }

        idxA = -1, idxB = -1;
        for (let i = 0; i < priorityOrder.length; i++) {
          if (temA == priorityOrder[i]) idxA = i;
          if (temB == priorityOrder[i]) idxB = i;
        }
        return idxB - idxA;
      }

      if (sortBy == "asc") rows.sort(asc);
      if (sortBy == "desc") rows.sort(dsc);

      tbody.innerHTML = "";

      rows.forEach((row) => {
        tbody.appendChild(row);
      });
    }

  </script>
</body>

</html>
