<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/bootstrap.min.css" rel="stylesheet">
</head>

<div class="container pt-4">
  <a type="button" class="btn btn-dark" href="/">Home</a>
  <a type="button" class="btn btn-dark" href="/add-task">Add Tasks</a>
</div>

<body>

  <div class="album py-4">
    <div class="container">

      <div class="row">


        <div class="my-2 p-5 bg-dark text-white rounded">
          <h1>
            <%= task.name %>
          </h1>
          <p>
            <%= task.description %>
          </p>
        </div>
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <div class="card-body">
                  <p><strong>Status:</strong>
                    <%= task.status %>
                  </p>
                  <p><strong>Start Date:</strong>
                    <%= task.startDate ? task.startDate : '-' %>
                  </p>
                  <p><strong>End Date:</strong>
                    <%= task.endDate ? task.endDate : '-' %>
                  </p>
                  <p><strong>Duration:</strong>
                    <%= task.duration %>
                  </p>
                  <p><strong>Due Date:</strong>
                    <%= task.dueDate %>
                  </p>
                  <p><strong>Team Member:</strong>
                    <%= task.teamMember %>
                  </p>
                  <p><strong>Priority:</strong>
                    <%= task.priority %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </form>
      </div class="container pt-4">
      <form action="/change-sprint/<%= task.id %>" method="POST">
        <div class="input-group">
          <select name="newSprint" class="form-select">
            <option value="" selected disabled hidden>Move Sprint</option>
            <% for(let i=0; i < sprint.length; i++ ){ %>
              <option value="<%= sprint[i]._id %>">
                <%= sprint[i].name %>
              </option>
              <% } %>
          </select>
          <button type="submit" class="btn btn-dark">Move Sprint</button>
        </div>
      </form>
    </div>
  </div>



  <div class="container pt-4">
    <a type="button" class="btn btn-dark mr-2" href="/edit-task/<%= task.id %>">Edit Task</a>
    <a type="button" class="btn btn-dark" href="/finish-task/<%= task.id %>">Finish Task</a>
  </div>
</body>



</html>