<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/bootstrap.min.css" rel="stylesheet">
</head>

<div class="container pt-4">
  <a type="button" class="btn btn-dark" href="/home-user">Home</a>
</div>

<body>

  <div class="album py-4">
    <div class="container">

      <div class="row">


        <div class="my-2 p-5 bg-dark text-white rounded">
          <h1>
            <%= task.name %>
          </h1>
          <p>
            <%= task.description %>
          </p>
        </div>
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <div class="card-body">
                  <p><strong>Status:</strong>
                    <%= task.status %>
                  </p>
                  <p><strong>Start Date:</strong>
                    <%= task.startDate ? task.startDate : '-' %>
                  </p>
                  <p><strong>End Date:</strong>
                    <%= task.endDate ? task.endDate : '-' %>
                  </p>
                  <p><strong>Duration:</strong>
                    <%= task.duration %>
                  </p>
                  <p><strong>Due Date:</strong>
                    <%= task.dueDate %>
                  </p>
                  <p><strong>Team Member:</strong>
                    <%= task.teamMember %>
                  </p>
                  <p><strong>Priority:</strong>
                    <%= task.priority %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </form>
      </div class="container pt-4">
      <form action="/finish-task/<%= task.id %>" method="POST">
        <label for="date">Finished Date</label>
        <div class="input-group">
          <input type="datetime-local" name="date" class="form-control" id="date" required>
          <button type="submit" class="btn btn-dark">Finish Task</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>